@model IEnumerable<SoftwareTracker.Models.LicenseModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Add License</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedServer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Support)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountofKeys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedKeys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingKeys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Manufacturer)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedServer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Support)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountofKeys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedKeys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingKeys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseKey)
            </td>
        </tr>
}
    </tbody>
</table>
