@model IEnumerable<SoftwareTracker.Models.LicenseModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary btn-custom" asp-action="Create">Add License</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm card-custom">
                <div class="card-title card-title-custom">@Html.DisplayFor(modelItem => item.SoftwareTitle)</div>
                <div class="card-body">
                    <p class="card-text card-text-custom">
                        <strong>Manufacturer:</strong> @Html.DisplayFor(modelItem => item.Manufacturer)<br />
                        <strong>Assigned Server:</strong> @Html.DisplayFor(modelItem => item.AssignedServer)<br />
                        <strong>Purchase Order:</strong> @Html.DisplayFor(modelItem => item.PurchaseOrder)<br />
                        <strong>Purchase Date:</strong> @Html.DisplayFor(modelItem => item.PurchaseDate)<br />
                        <strong>License Type:</strong> @Html.DisplayFor(modelItem => item.LicenseType)<br />
                        <strong>License Expiry:</strong> @Html.DisplayFor(modelItem => item.LicenseExp)<br />
                        <strong>Support:</strong> @Html.DisplayFor(modelItem => item.Support)<br />
                        <strong>Support Expiry:</strong> @Html.DisplayFor(modelItem => item.SupportExp)<br />
                        <strong>Amount of Keys:</strong> @Html.DisplayFor(modelItem => item.AmountofKeys)<br />
                        <strong>Used Keys:</strong> @Html.DisplayFor(modelItem => item.UsedKeys)<br />
                        <strong>Remaining Keys:</strong> @Html.DisplayFor(modelItem => item.RemainingKeys)<br />
                        <strong>License Key:</strong> @Html.DisplayFor(modelItem => item.LicenseKey)<br />
                    </p>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-custom">Details</a>
                </div>
            </div>
        </div>
    }
</div>
