@model IEnumerable<SoftwareTracker.Models.UserAdministration>

@{
    ViewData["Title"] = "User Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockOutEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanLockout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockOutEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanLockout)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
        </tr>
}
    </tbody>
</table>
